.titulo{
display: flex;
gap: 300px;
}
.pontos{
    height: 24px;
}
h1{
    font-size: 24px;
}
.meio{

}
.gato1{
    height: 100px;
}
.gato2{
    height: 100px;
}
.gato3{
    height: 100px;
}
.gato4{
    height: 100px;
}